* {
    margin: 0;
    padding: 0;
    outline: none;
    overflow: hidden;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #006d72;
}
#myCalculator {
    width: 400px;
    height: 600px;
    margin-top: 30px;
    background-color: #00bcc6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
#output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 350px;
    height: 150px;
    margin-bottom: 25px;
    border-radius: 25px;
    background-color: #00d0db;
}
#_uname,
#result {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 10px;
    margin-right: 25px;
}
#result {
    margin-bottom: 10px;
}
#buttons {
    display: grid;
    grid-template-rows: 63px 63px 63px 63px 63px;
    grid-template-columns: 80px 80px 80px 80px; 
    gap: 5px;
    width: 350px;
    height: 350px; 
    border-radius: 25px;
    background-color: #00d0db;
    padding: 8px;
}
input {
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 25px;
    background-color: #00b8c2;
    border: 1px solid white;
}
input:hover {
    background-color: #00a4ad;
}
.delete,
.clear {
    font-size: 10px;
}
.result {
    grid-row: 5 / 6;
    grid-column: 3 / 5;
}